
:root {
  --clr-accent-500: #fdd361;
  --clr-accent-400:#FFD050;
  --clr-accent-300:#fcda79;
  --clr-accent-100:#fcf7e7;
  --header1: #f0efef;
  --nor-text:var(--clr-neutral-900);
  --clr-primary-400: hsl(228, 39%, 23%);
  --sidebar:hsl(0, 0%, 56%);
  --card-hover:#d0d0d0;

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-200: hsl(0 0% 97%);
  --clr-neutral-100: hsl(0 0% 100%);
  --card-color:#f0efef;
  --ff-primary: "Be Vietnam Pro", sans-serif;
  --border-color: #c3c6ce;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 3rem;
}
.dark-mode {
  --clr-accent-500: #fdd361;
  --clr-accent-400:#FFD050;
  --clr-accent-300:#121212;
  --clr-accent-100:#fcf7e7;
  --bg-body:#121212;
  --card-color:#181818;
  --nor-text:#fcf7e7;
  --drop-sh: drop-shadow(0.01rem 0.02rem 0.2rem #121212);
  --clr-primary-400: hsl(0, 0%, 100%);
  --clr-neutral-900: #121212;
  --clr-neutral-200: hsl(0 0% 97%);
  --clr-neutral-100: hsl(0 0% 100%);
  --border-color:#121212;
  --header1:#0e0e0e;
  --sidebar:#000000;
  --card-hover:#252525;
}

@media (min-width: 50em) {
  :root {
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);

    --fs-nav: var(--fs-300);
  }
}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  background-color:var(--bg-body);
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
}

p:not([class]) {
  opacity: 0.7;
  max-width: 36ch;
  font-size: 1.1rem;
}

p[data-width="wide"] {
  max-width: 42ch;
}

/* button */

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 100vmax;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
}

.button[data-type="inverted"] {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-400);
}

.button[data-shadow="none"] {
  box-shadow: none;
}

.button:hover,
.button:focus-visible {
  background-color: var(--clr-accent-300);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-300);
}

/* navigation */

.primary-header {
  padding-top: var(--size-700);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper img{
  max-width:295px ;
  height: auto;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: var(--fs-nav);
}

.nav-list {
  display: flex;
  gap: clamp(var(--size-400), 5vw, var(--size-700));
  font-weight: var(--fw-semi-bold);
}

.nav-list a {
  text-decoration: none;
  color: hsl(0, 0%, 56%);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--clr-accent-400);
}

@media (max-width: 50em) {
  .primary-header[data-overlay]{
    position: relative;
    z-index: 999;
  }
  .primary-navigation {
    display: none;

    position: fixed;
    padding: var(--size-700);
    inset: 7rem var(--size-400) auto;
    max-width: 25rem;
    margin-inline: auto;
    background: var(--clr-neutral-100);
    border-radius: var(--size-100);
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
  }
  p:not([class]) {
    max-width: 32ch;
    font-size: 1rem;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    /* height: 100vh; */
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: grid;
    gap: var(--size-600);
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    position: fixed;
    display: block;
    top: 3.6em;
    right: var(--size-400);
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    width: 1.65rem;
    aspect-ratio: 1;

    background-image: url("static/images/icon-hamburger.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("static/images/icon-close.svg");
  }
  .nav-wrapper img{
    max-width:240px ;
    height: auto;
    color: var(--nor-text);
  }
}

/* footer */

.primary-footer {
  --logo-color: var(--clr-neutral-100);
}

.primary-footer-wrapper {
  display: grid;
  gap: var(--size-700);
  grid-template-areas:
    "form"
    "nav"
    "logo-social";
}

.primary-footer-logo-social {
  grid-area: logo-social;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: var(--size-700);
}

.primary-footer-nav {
  grid-area: nav;
}

.primary-footer-form {
  grid-area: form;

  display: grid;
  align-content: space-between;
}

.primary-footer form {
  display: flex;
  gap: var(--size-200);
}

input:where([type="text"], [type="email"], ) {
  border-radius: 100vw;
  border: 0;
  padding: var(--size-300) var(--size-400);
}

@media (min-width: 50em) {
  .primary-footer-wrapper {
    grid-template-areas: "logo-social nav form";
  }

  .primary-footer-logo-social {
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--size-700);
  }
}

@media (max-width: 50em) {
  .primary-footer-wrapper > * {
    margin-inline: auto;
  }
}

/* footer navigation */

.footer-nav {
  columns: 3;
  gap: clamp(2rem, 30vw, 0.1rem);
}

.footer-nav a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

.footer-nav a:is(:hover, :focus) {
  color: var(--clr-accent-400);
}

/* social list */

.social-list {
  display: flex;
  gap: var(--size-600);
}

.social-icon {
  width: var(--size-600);
  aspect-ratio: 1;
  fill: var(--clr-neutral-100);
}

.social-list a:is(:hover, :focus) .social-icon {
  fill: var(--clr-accent-400);
}

/* cta */

.cta {
  position: relative;
  isolation: isolate;
  text-align: center;
}

@media (min-width: 50em) {
  .cta {
    text-align: left;
  }
}

.cta::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-image: url("images/bg-tablet-pattern.svg"),
    url("images/bg-tablet-pattern.svg");
  background-position: -15rem -5rem, 80rem -42rem;
  background-repeat: no-repeat;
  opacity: 0.1;
}

/* numbered items */

.numbered-items {
  counter-reset: count;
  width: fit-content;
  margin-inline: auto;
}

.numbered-items li {
  counter-increment: count;
}

.numbered-items div {
  display: grid;
  position: relative;
  align-items: center;
  column-gap: var(--size-300);
  grid-template-columns: min-content 1fr;
}

.numbered-items__title {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  line-height: 1;
}

.numbered-items__body {
  grid-column: 1 / -1;
}

@media (min-width: 30em) {
  .numbered-items__body {
    grid-column: 2 / -1;
  }
}

.numbered-items div::before,
.numbered-items div::after {
  height: 40px;
}

.numbered-items div::before {
  content: "0" counter(count);
  display: flex;
  align-items: center;
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  background-color: var(--clr-accent-400);
  padding: 0 var(--size-500);
  border-radius: 100vw;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

@media (max-width: 30em) {
  .numbered-items div::after {
    --bg: var(--clr-accent-100);
    content: "";
    display: block;
    z-index: -1;
    border-radius: 100vw 0 0 100vw;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    box-shadow: 5em 0 0 var(--bg);
    background: var(--card-color);
  }
}

countdown

/* slider */

.slider {
  display: flex;
  gap: var(--size-600);
  list-style: none;
}

.a11y-slider-container {
  margin-block: var(--size-700);
  margin-inline: var(--size-400);
}

.slider > * {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 30em) {
  .slider {
    scroll-padding-inline: 25px;
  }

  .a11y-slider-container {
    margin-inline: 0;
  }
  .slider > * {
    width: 50%;
  }
}

@media (min-width: 50em) {
  .slider > * {
    width: 30%;
  }
}

.slider-content {
  border-radius: var(--size-100);
  padding: var(--size-700) var(--size-600) var(--size-600);
  background: var(--card-color);
}

.slider img {
  width: var(--size-800);
  position: relative;
  top: calc(var(--size-800) / 2);
  margin-inline: auto;
}
.a11y-slider-dots {
  display: flex;
  justify-content: center;
  margin-block: var(--size-500);
  gap: var(--size-300);
}
.a11y-slider-dots li {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
}

.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  background: transparent;
  border: 1px solid var(--clr-accent-400) !important;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.a11y-slider-dots li button.active {
  background: var(--clr-accent-400);
}

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.container {
  --max-width: 1510px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 3em);
}

.text-center {
  text-align: center;
}

.text-center p {
  margin-inline: auto;
}

@media (max-width: 50em) {
  .text-center-sm-only {
    text-align: center;
  }

  .text-center-sm-only p {
    margin-inline: auto;
  }
}

.text-primary-400 {
  color: var(--clr-primary-400);
}
.text-accent-400 {
  color: var(--clr-accent-400);
}
.text-accent-100 {
  color: var(--clr-accent-100);
}
.text-neutral-100 {
  color: var(--clr-neutral-100);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}
.bg-accent-400 {
  background-color: var(--clr-accent-400);
}
.bg-accent-100 {
  background-color: var(--clr-accent-100);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.fw-bold {
  font-weight: var(--fw-bold);
}
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: 2.2rem;
  line-height: 1.1;
}
.fs-primary-heading1 {
  font-size: 3.8rem;
  line-height: 1.5;
}
.flow span{
  color: var(--clr-accent-400);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-900 {
  padding-block: var(--size-900);
}
.padding-block-700 {
  padding-block: var(--size-700);
}

.margin-bottom-700 {
  margin-block-end: var(--size-700);
}
.margin-top-900{
  margin-block-start: var(--size-900);
}

.display-sm-none {
  display: none;
}

@media (min-width: 50em) {
  .display-md-inline-flex {
    display: inline-flex;
  }
}
.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 1em;
  max-width: 600px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 600px;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: var(--bg-body);
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #FFD050;
}
.input-sub{
  margin-left: 40em;
}
@media (max-width: 50em) {
  .input-sub{
    margin-left: 0;
  }
}
.sub-input{
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2.5rem;
  height: 30vh;
}
.sub-input h1{
  color: var(--clr-primary-400);
  font-size: 70px;
  font-weight: 700;
}
.flow button {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: var(--clr-accent-500);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
.side-color{
  padding: 7em;
  padding-top: 7em;
  padding-bottom: 81.4em;
  background-color: #000000;
  float: left;

}
 
.flow button:hover {
  letter-spacing: 3px;
  background-color: #FFD050;
  color: hsl(0, 0%, 100%);
  box-shadow: #fcda79 0px 7px 29px 0px;
 }
 
.flow button:active {
  letter-spacing: 3px;
  background-color:  #FFD050;
  color: hsl(0, 0%, 100%);
  box-shadow: #fcda79 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }
 @media (max-width: 50em){
  .inputGroup {
    max-width: 350px;
  }
  .inputGroup input {
    width: 350px;
  }
  .sub-input h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .sub-cont{
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 350px;
  }
  .fs-primary-heading1 {
    font-size: 3rem;
  }
 .card {
  max-width: 200px;
  height: 220px;
  border-radius: 8px;
  background: #f9f9f9;
  position: relative;
  padding-bottom: 1.8rem;
  border: 1px solid var(--border-color);
  transition: 0.5s ease-out;
  overflow: visible;
  
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .2em;
  display: grid;
  place-content: center;
 }
 .card-details img{
  width: 200px;
  height: 140px;
  border-radius: 20px;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 1rem;
  filter: var(--drop-sh)
 }
 .card-details p{
  padding-left: 1.1rem;
  padding-right: 1.1rem;
 }
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #FFD050;
  color: #fff;
  font-size: 0.7rem;
  padding: .4rem 0.6rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  transform: translate(-50%, 50%);
  opacity: 1;
  font-size: 0.9rem;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.2em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color:  #FFD050;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
}
.card {
  max-width: 200px;
  height: 220px;
  border-radius: 8px;
  background: var(--card-color);
  position: relative;
  padding-bottom: 1.8rem;
  transition: 0.5s ease-out;
  overflow: visible;
  border: 1px solid var(--border-color);
 }
 
 .card-details {
  color: rgb(0, 0, 0);
  height: 100%;
  gap: .2em;
  display: grid;
  place-content: center;
 }
 .card-details img{
  width: 200px;
  height: 140px;
  border-radius: 20px;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  padding-top: 1rem;
  filter: var(--drop-sh)
 }
 .card-details p{
  padding-left: 1.1rem;
  padding-right: 1.1rem;
 }
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #FFD050;
  color: #fff;
  font-size: 0.7rem;
  padding: .4rem 0.6rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  transform: translate(-50%, 50%);
  opacity: 1;
  font-size: 0.9rem;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.2em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color:  #FFD050;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }

.opps{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1.1rem;
  row-gap: 1.5rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.icon-mood img{
  max-width: 40px;
}
.icon-mood {
  max-width: 50px;
  height: auto;
}
.icon-mood1 img{
  max-width: 40px;
  height: auto;
  margin-right: 3em;
}
.opps > *{
  flex: 0 1 12em;
}
.course-marg{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.course-marg h1{
  font-size: 1.7rem;
  font-weight: bold;
}
.slider{
  margin-left: 7em;
}
.course-marg a{
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #737373;
  padding-left: 88rem;
}
@media (max-width: 50em){
  .sidebar{
    display: none;
  }
  .slider{
    margin-left: 0;
  }
  .opps{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  .course-marg{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
  .course-marg h1{
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
  }
  .course-marg a{
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #737373;
    padding-left: 0;
    margin-left: 8em;
  }
}
.search input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: .5s;

}
.search input[type="text"]{
  background-color: var(--bg-body);
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
  border: 1px solid gray;
}
.search input[type="submit"]{
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 90px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background:  #fcda79;
  color: #fff;
  padding-top: 0.1em;
}
.category input[type="submit"]{
  position: relative;
  border-radius: 25px ;
  width: 70px;
  height: 35px;
  border: none;
  outline: none;
  cursor: pointer;
  background:  #fcda79;
  color: #fff;
  font-size: 14px;
  margin-left: 4.5rem;
  margin-top: 1rem;
}

.category{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
.select_style{
  border: 2px solid  #fdd361;
  padding: 0 30px 0 15px;
  width: 160px;
  height: 30px;
  color:  var(--nor-text);
  background-color: var(--card-color);
  font-size: 17px;
  border-radius: 30px;
}                             

.filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10rem;
  row-gap: 1.5rem;
  margin-left: 6rem;
  margin-right: 6rem;
}

@media (max-width: 50em){
  .search input[type="text"]{
    width: 200px;
    height: 50px;
  }
  .search input[type="submit"]{
    width: 60px;
    height: 50px;
    margin-top: 0.1em;
  }
  .search input{
    font-size: 12px;
  }
  .search{
    width: 270px;
    margin-left: 2.5rem;
  }
  .category{
    margin-left: 1rem;
    margin-top: 0rem;
  }
  .category select{
    margin-top: 1em;
  }
  .category input[type="submit"]{  margin-left: 2rem;
    margin-top: 1rem;}
}
.details{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont_opp{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 20rem;
  margin-right: 20rem;
}
.countdown {
  background-color: white;
  color: #737373;
  text-decoration: none;
  font-weight: bold;
  border:2px solid var(--clr-accent-500);
  width: 320px;
  height: 50px;
  font-size: 26px;
  padding-left: 24px;
  padding-right: 20px;
  border-radius:30px;
  margin-bottom: 1.5rem;
  align-items: center;
}
.coun input[type="submit"]{
  position: relative;
  border-radius: 25px ;
  width: 130px;
  height: 50px;
  background:  #fcda79;
  color: #fff;
  font-size: 14px;
  border: 1px solid var(--clr-accent-500);
  box-shadow: var(--clr-accent-500);
  margin-left: 5rem;
}
.apply1{
  margin-left: 1px;
}
.cont_opp h1{
  font-size: 80px;
  margin-bottom: 1rem;
}
.cont_opp h2{
  font-size: 21px;
  margin-bottom: 3rem;
}



.bottom button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  margin-left: 13rem;
  
}

@media (max-width: 50em){
  .cont_opp h2{
    font-size: 16px;
  }
  .countdown {
    margin-bottom: 1rem;
  }
  .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bottom button{
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
}
.cates{
  margin-left: 16em;
}
.sidebar {
  background-color: #f0f0f0;
  height: 100vh;
  padding: 15px;
}

.sidebar h2 {
  margin-top: 5px;
}


.bbtt button {
  --c: var(--clr-accent-400); /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.bbtt button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.bbtt button:active {
  box-shadow: 0 0 9e9q inset rgba(117, 29, 29, 0.6); 
  background-color: var(--c);
  color: #fff;
}




.bbtt button {
  font-family: system-ui, sans-serif;
  font-size: 2.5rem;
  cursor: pointer;
  padding: .1em .6em .3em;
  font-weight: bold;  
  border: none;
  border-radius: 50px;
  color: var(--nor-text);
}
@media (max-width: 50em) {
  .bbtt button {font-size: 1.8rem;}
}
/*gggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg*/


body {
  background-color:var(--bg-body);
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 16.625em;
  background-color:var(--sidebar);
  padding: 24px;
}
.sidebar .logo img {
  max-width: 200px;
}
.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}
.sidebar .navigation ul li {
  padding: 10px 0px;
}
.sidebar .navigation ul li a {
  color: var(--nor-text);
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: #ffffff;
}
.sidebar .navigation ul li a:hover .fa,
.sidebar .navigation ul li a:active .fa,
.sidebar .navigation ul li a:focus .fa {
  color: #b3b3b3;
}
.sidebar .navigation ul li .fa {
  font-size: 20px;
  margin-right: 10px;
}
.sidebar .navigation ul li a:hover .fa:hover,
.sidebar .navigation ul li a:hover .fa:active,
.sidebar .navigation ul li a:hover .fa:focus {
  color: #ffffff;
}
.sidebar .policies {
  position: absolute;
  bottom: 100px;
}
.sidebar .policies ul {
  list-style: none;
}
.sidebar .policies ul li {
  padding-bottom: 5px;
}
.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}
.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}
@media (max-width: 50em) {
  .sidebar {
    display: none;
  }
}
.main-container {
  margin-left: 245px;
  margin-bottom: 100px;
}

.topbar {
  display: flex;
  max-width: 2000px;
  max-height: 65px;
  justify-content: space-between;
  background-color: var(--header1);
  padding: 10px 20px;
}
.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}
.topbar .navbar {
  display: flex;
  align-items: center;
  padding-top: 0;
}
.topbar .navbar ul {
  list-style: none;
}
.topbar .navbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
}
.topbar .navbar ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}
.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
  color: #ffffff;
  font-size: 15px;
}
.topbar .navbar ul li.divider {
  color: #ffffff;
  font-size: 36px;
  margin: 0px 15px;
  width: auto;
}
.topbar .navbar button {
  background-color: var(--clr-accent-400);
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}
.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
  background-color: #f2f2f2;
}
.spotify-playlists {
  padding: 20px 40px;
}
.spotify-playlists h2 {
  color: var(--nor-text);
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold;
}
.spotify-playlists .list {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.spotify-playlists .list .item {
  min-width: 140px;
  width: 250px;
  padding: 15px;
  background-color: var(--card-color);
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover {
  background-color: var(--card-hover);
}
.spotify-playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: #252525;
}
.spotify-playlists .list .item .play {
  position: relative;
}
.spotify-playlists .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color:var(--clr-accent-400);
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.spotify-playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}
.spotify-playlists .list .item h4 {
  color: var(--nor-text);
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.spotify-playlists .list .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.spotify-playlists hr {
  margin: 70px 0px 0px;
  border-color: #636363;
}

.preview {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  max-height: 150px;
}
.preview p{
  font-size: 30px;
}
.preview section{
  border-radius: 30px;
}
 ul img {
  max-width: 40px;
 }